/* Pricing page */

.pricing {
    display: grid;
    gap: 120px;
    padding: 120px 80px;
    background: linear-gradient(180deg, #0F1115 0%, #111827 100%);
    color: #E6EDF3;
    justify-items: center;
}

.pricing > * {
    max-width: 1300px;
    width: 100%;
}

/* Opening */

.pricing_opening {
    display: grid;
    gap: 40px;
}

.pricing_opening h1 {
    font-family: "Tomorrow", sans-serif;
    font-size: 42px;
    font-weight: 700;
}

/* Pricing block */

.pricing_blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.pricing_block {
    background-color: #1A1F2B;
    padding: 40px;
    border-radius: 12px;

    display: grid;
    grid-template-rows:
        120px   /* title height */
        1fr  /* description height */
        auto   /* price height */
        auto   /* button height */
        1fr;   /* features height */

    gap: 25px;
    transition: 0.3s ease;
}

.pricing_block:hover {
    background-color: #1F2937;
    transform: translateY(-6px);
}

.pricing_block h2 {
    font-family: "Tomorrow", sans-serif;
    font-size: 30px;
    line-height: 1.3;
    min-height: 70px;
}


.pricing_choice {
    font-family: "Tomorrow", sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: #FF9900;
    margin-top: 5px;
}

/* Description block*/

.block_description {
    align-self: start;
    font-family: "Tomorrow", sans-serif;
    font-size: 23px;
    color: #AAB4C3;
    line-height: 1.7;
    height: 300px;
}

.block_price {
    align-self: start;
    font-family: "Tomorrow", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #66B2FF;
}

/* Button "Request Audit" */

.pricing_block .btn_secondary {
    display: grid;
    place-items: center;
    padding: 20px 80px;
    background-color: #223c8c;
    color: #E6EDF3;
    text-decoration: none;
    font-weight: 600;
    font-family: "Tomorrow", sans-serif;
    font-size: 20px;
    border-radius: 50px;
    text-align: center;
    transition: 0.3s ease;

    align-self: start;
}

.pricing_block .btn_secondary:hover {
    background-color: #0059ff;
    color: #ffffff;
}

/* Features block */

.block_features {
    display: grid;
    gap: 15px;
    align-self: start;
}

.block_features h3 {
    font-family: "Tomorrow", sans-serif;
    font-size: 20px;
}

.block_features ul {
    display: grid;
    gap: 10px;
    padding-left: 20px;
}

.block_features li {
    font-family: "Tomorrow", sans-serif;
    font-size: 20px;
    color: #AAB4C3;
}

/* Comparison block */

.pricing_compare {
    display: grid;
    gap: 60px;
}

.pricing_compare h2 {
    font-family: "Tomorrow", sans-serif;
    font-size: 35px;
}

.comparison_block {
    display: grid;
    gap: 15px;
    background-color: #1A1F2B;
    padding: 40px;
    border-radius: 12px;
}

.comparison_header,
.comparison_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}


.comparison_header {
    font-family: "Tomorrow", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 15px;
}

.comparison_row {
    font-family: "Tomorrow", sans-serif;
    font-size: 20px;
    min-height: 40px;
    padding: 5px 0px 15px 0px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    text-align: center;
}

.comparison_row:last-child {
    border-bottom: none;
}

.comparison_row div:nth-child(n+2),
.comparison_header div:nth-child(n+2) {
    text-align: center;
}
